@inherits LayoutComponentBase

<style>
    .sidebar {
      /*  background-color: #8fb3da;*/
    }
    .sidebar {
        background: linear-gradient(-40deg, #560027 18%,#3689ce 48%,#4a148c 59%,#c17900 100%);
        }
</style>
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">О приложении</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
